<!-- add site anker #aboutMe -->
<section id="about" class="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>About Me</h2>
                <p>
                    I am a 27 year old student from Germany. I am currently studying
                    media technology at the University of Applied Sciences in Hamburg.
                    I am interested in interactive media, web development and graphic,
                    as well as image processing using Convulutional Neural Networks.
                </p>
            </div>
        </div>
    </div>
</section>