<div id="particles-js">
    <div class="header">
      <div class="header-title">
        <span class="site-title">{{ site.data.info.real_name }}</span>
        <span class="site-description">Student Media Technology</span>
      </div>
      <div class="header-icons">
        <a aria-label="My LinkedIn Profile" target="_blank" href="{{ site.data.info.linkedin_url }}">
          <iconify-icon icon="mdi:linkedin"></iconify-icon>
        </a>
        <a aria-label = "My Fiverr Profile" target = "_blank" href = "{{ site.data.info.fiverr_url }}" >
          <iconify-icon icon="jam:fiverr"></iconify-icon>
        </a>
        <a aria-label="My Github Profile" target="_blank" href="{{ site.data.info.github_url }}">
          <iconify-icon icon="mdi:github"></iconify-icon>
        </a>
        <a aria-label="Send Email" href="mailto:{{ site.data.info.email }}" target="_blank">
          <iconify-icon icon="ic:round-email"></iconify-icon>
        </a>
      </div>
      <div class="header-links">
        <a class="link" href="#about" data-scroll>About Me</a>
        <a class="link" href="#projects" data-scroll>Projects</a>
      </div>
    </div>
    <a class="down" href="#about" data-scroll>
      <iconify-icon icon="ic:round-keyboard-arrow-down"></iconify-icon>
    </a>
</div>

<!-- stats - count particles --> 
<div class="count-particles"> 
  <span class="js-count-particles"></span>
</div>
<!-- particles.js lib - https://github.com/VincentGarreau/particles.js -->
<script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<!-- stats.js lib -->
<script src="http://threejs.org/examples/js/libs/stats.min.js"></script>

{% include header_particleJS.html %}