<div id="particles-js">
    <div class="header">
      <div class="header-avatar-wrapper">
        <div class="header-avatar">
          <img loading="lazy" src="{{ site.data.info.avatar_url }}" alt="{{ site.data.info.real_name }}">
        </div>
      </div>

      <div class="header-content-wrapper">
        <div class="header-title">
          <span class="site-title">{{ site.data.info.real_name_forename }} <span class="site-title-highlight">{{ site.data.info.real_name_lastname }}</span></span>
          <span class="site-description">{{ site.data.info.job_title }}</span>
        </div>
        <div class="header-separator"></div>
        <div class="header-icons">
          <div class="header-icon-wrapper">
            <a aria-label="My LinkedIn Profile" target="_blank" href="{{ site.data.info.linkedin_url }}">
              <iconify-icon icon="mdi:linkedin"></iconify-icon>
            </a>
          </div>
          <div class="header-icon-wrapper">
            <a aria-label = "My Fiverr Profile" target = "_blank" href = "{{ site.data.info.fiverr_url }}" >
              <iconify-icon icon="jam:fiverr"></iconify-icon>
            </a>
          </div>
          <div class="header-icon-wrapper">
            <a aria-label="My Github Profile" target="_blank" href="{{ site.data.info.github_url }}">
              <iconify-icon icon="mdi:github"></iconify-icon>
            </a>
          </div>
          <div class="header-icon-wrapper">
            <a aria-label="Send Email" href="mailto:{{ site.data.info.email }}" target="_blank">
              <iconify-icon icon="ic:round-email"></iconify-icon>
            </a>
          </div>
        </div>
        <div class="header-links">
          {% include navigation.html %}
        </div>
      </div>
    </div>
    <div class="header-arrowDown-container">
      <a class="down" href="#about" data-scroll>
        <iconify-icon icon="ic:round-keyboard-arrow-down"></iconify-icon>
      </a>
    </div>
</div>

<!-- stats - count particles --> 
<div class="count-particles"> 
  <span class="js-count-particles"></span>
</div>
<!-- particles.js lib - https://github.com/VincentGarreau/particles.js -->
<script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<!-- stats.js lib -->
<script src="http://threejs.org/examples/js/libs/stats.min.js"></script>

{% include header_particleJS.html %}