<div class="language-switcher">
  {% assign current_lang = page.lang | default: site.default_language %}
  {% if current_lang == "en" %}
    <span class="current-lang">EN</span>
    <a href="/de{{ page.url | remove: '/en' }}" class="lang-link">DE</a>
  {% elsif current_lang == "de" %}
    <a href="/en{{ page.url | remove: '/de' }}" class="lang-link">EN</a>
    <span class="current-lang">DE</span>
  {% else %}
    <span class="current-lang">EN</span>
    <a href="/de{{ page.url }}" class="lang-link">DE</a>
  {% endif %}
</div>
