{% assign lang = page.lang | default: site.default_language %}
{% if site.data[lang].info.projects_enabled %}
<section id="projects" class="projects">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>{% if lang == "de" %}Meine Projekte{% else %}My Projects{% endif %}</h2>
                <div id="projectWrapper">
                    {% assign c = "c-project-card" %}
                    {% for project in site.projects reversed %}
                    {% if project.language == lang or project.language == nil %}
                    <article class="{{c}} col col-4 col-d-6 col-t-12">
                         <div class="{{c}}__content">
                          <a href="{{ project.url }}" class="{{c}}__image">
                            {% if project.image.path %}
                              <img loading="lazy" src="{{ project.image.path }}" alt="{{ project.title }}">
                            {% endif %}                         
                          </a>
                          <div class="{{c}}__info">
                            <div class="{{c}}__info-wrap">
                              <h3 class="{{c}}__title">{{ project.title }}</h3>
                            </div>
                            <div class="{{c}}__info-wrap">
                              {% if project.subtitle %}
                              <div class="{{c}}__subtitle">{{ project.subtitle }}</div>
                              {% endif %}
                            </div>
                          </div>
                        </div>
                      </article>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}
