<section id="skills" class="skills">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>My Skills</h2>
                <p>
                    I have a wide range of skills, but I am always eager to learn more. I am a fast learner and I am
                    not afraid to try new things. I am a team player and I am always happy to help others.

                <div
                    id="skill-wrapper"
                    class="grid"
                    data-masonry='{ 
                        "itemSelector": ".grid-item",
                        "columnWidth": ".grid-sizer",
                        "stagger": 30
                        }'>

                    {% for category in site.data.skills %}
                    {% assign c = "c-skill-chip" %}
                    <div class="grid-sizer"></div>
                    <div class="grid-item">
                    <div class="{{c}}__category">
                        <h3>{{ category.category }}</h3>
                        <div class="{{c}}__container">
                            <div class="{{c}}__wrapper">
                                {% for skill in category.skills %}
                                <div class="{{c}}">
                                    <div class="{{c}}__content">
                                        {% if skill.image %}
                                        <div class="{{c}}__image">
                                            <img loading="lazy" src="{{ skill.image }}" alt="{{ skill.name }}">
                                        </div>
                                        {% else if skill.icon %}
                                        <div class="{{c}}__icon">
                                            <iconify-icon icon="{{ skill.icon }}"></iconify-icon>
                                        </div>
                                        {% else %}
                                        <div class="{{c}}__icon">
                                            <iconify-icon icon="ph:placeholder-bold"></iconify-icon>
                                        </div>
                                        {% endif %}

                                        <div class="{{c}}__label">{{ skill.name }}</div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>

                            {% if category.small %}
                            {% assign c = "c-skill-chip--small c-skill-chip" %}
                            {% assign fc = "c-skill-chip--flex-collumn__wrapper" %}
                            <div class="{{c}}__wrapper  {{fc}}">
                                {% for small in category.small %}
                                <div class="{{c}}">
                                    <div class="{{c}}__content">
                                        {% if small.image %}
                                        <div class="{{c}}__image">
                                            <img loading="lazy" src="{{ small.image }}" alt="{{ small.name }}">
                                        </div>
                                        {% else if small.icon %}
                                        <div class="{{c}}__icon">
                                            <iconify-icon icon="{{ small.icon }}"></iconify-icon>
                                        </div>
                                        {% else %}
                                        <div class="{{c}}__icon">
                                            <iconify-icon icon="ph:placeholder-bold"></iconify-icon>
                                        </div>
                                        {% endif %}

                                        <div class="{{c}}__label">{{ small.name }}</div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>