{% if site.data.info.skills_enabled %}
<!-- https://github.com/desandro/masonry -->
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>

<section id="skills" class="skills">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Skills</h2>

                <div
                    id="skill-wrapper"
                    class="grid">

                    {% for category in site.data.skills %}
                    {% assign c = "c-skill-chip" %}
                    <div class="grid-sizer"></div>
                    <div class="grid-item">
                    <div class="{{c}}__category">
                        <div class="{{c}}__category__header">
                            <div class="{{c}}__category__header__icon">
                                <iconify-icon class="{{c}}__category__icon" icon="{{ category.icon }}"></iconify-icon>
                            </div>
                            <div class="{{c}}__category__header__title">
                                <h3>{{ category.category }}</h3>
                            </div>
                        </div>
                        <div class="{{c}}__container">
                            <div class="{{c}}__wrapper">
                                {% for skill in category.skills %}
                                <div class="{{c}}">
                                    <div class="{{c}}__content">
                                        {% if skill.image %}
                                        <div class="{{c}}__image">
                                            <img loading="lazy" src="{{ skill.image }}" alt="{{ skill.name }}">
                                        </div>
                                        {% else if skill.icon %}
                                        <div class="{{c}}__icon">
                                            <iconify-icon icon="{{ skill.icon }}"></iconify-icon>
                                        </div>
                                        {% else %}
                                        <div class="{{c}}__icon">
                                            <iconify-icon icon="ph:placeholder-bold"></iconify-icon>
                                        </div>
                                        {% endif %}

                                        <div class="{{c}}__label">{{ skill.name }}</div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>

                            {% if category.small %}
                            {% assign c = "c-skill-chip--small c-skill-chip" %}
                            {% assign fc = "c-skill-chip--flex-collumn__wrapper" %}
                            <div class="{{c}}__wrapper  {{fc}}">
                                {% for small in category.small %}
                                <div class="{{c}}">
                                    <div class="{{c}}__content">
                                        {% if small.image %}
                                        <div class="{{c}}__image">
                                            <img loading="lazy" src="{{ small.image }}" alt="{{ small.name }}">
                                        </div>
                                        {% else if small.icon %}
                                        <div class="{{c}}__icon">
                                            <iconify-icon icon="{{ small.icon }}"></iconify-icon>
                                        </div>
                                        {% else %}
                                        <div class="{{c}}__icon">
                                            <iconify-icon icon="ph:placeholder-bold"></iconify-icon>
                                        </div>
                                        {% endif %}

                                        <div class="{{c}}__label">{{ small.name }}</div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    .grid-item {
        opacity: 0;
        transition: opacity .5s ease-in-out;
    }
</style>

<script>
    // Trigger repositioning
    var grid = document.querySelector('.grid');
    var msnry = new Masonry( grid, {
        itemSelector: '.grid-item',
        columnWidth: '.grid-sizer',
        percentPosition: true,
        stagger : 30,
    });


    document.addEventListener("DOMContentLoaded", function(event){
        setTimeout(function(){
            msnry.layout();
        }, 200);
        setTimeout(function(){
            msnry.layout();
        }, 1000);
});

    msnry.on('layoutComplete', function() {
        console.log('layout is complete');
        var items = document.querySelectorAll('.grid-item');

        for (var i = 0; i < items.length; i++) {
            items[i].style.opacity = 1;
            transistionDelay = (i + 1) * 30;
            items[i].style.transitionDelay = transistionDelay + 'ms';
        }
    });
</script>
{% endif %}
