// scss variables
$primary-color: #2B32B2;
$secondary-color: #1488CC;
$blue-gray: #607d8b;
$white: #fff;

$desktop: 992px;
$tablet: 768px;
$mobile: 576px;

$global-radius: 16px;

$global-transition: all .4s ease;