.c-skill-chip { $c: &;
    margin: 0px 10px 10px 0px;
    transition: transform .7s ease;

    cursor: default;

    &__wrapper{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    &__category{

        //background: linear-gradient(60deg, rgb(212, 224, 255), rgb(235, 242, 255));
        background-color: rgba($primary-color, 0.2);
        border-radius: 15px;
        border: rgba($primary-color, 0.5) solid 1px;
        //box-shadow: 0px 0px 5px rgba($primary-color, 0.4);

        margin: 0px 10px 30px 0px;
        padding: 10px 15px;
        width: 90%;

        transition: all .7s ease;

        
        &__header{
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;

            width: f;

            margin: 5px 0px 10px 0px;

            &__icon{
                font-size: 2rem;
                color: $accent-color;
                margin: 0px auto;

                background-color: $secondary-color;

                padding: 10px 10px 0px 12px;
                border-radius: 50%;

                iconify-icon{
                    font-size: 4rem;
                }
            }

        }
        
        h3 {
            color: $text-color;
            font-size: 1.2rem;
            font-weight: 400;
            margin: 0px 0px 10px 0px;
            padding: 0px;
        }

        &:hover {
            transform: scale(1.00);
            background-color: rgba($primary-color, 0.3);
        }
    }

    

    &__content{
        border: rgba($primary-color, 0.7) solid 1px;
        border-radius:50px;
        background-color: rgba($secondary-color, 0.3);
        padding: 5px 15px;
        
        font-weight: 400;
        color: $text-color;

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;

        transition: all .7s ease;

        iconify-icon{
            font-size: 2rem;
            margin-right: 0.5rem;
            margin-bottom: -0.2rem;
        
        }
        &:hover{
            background-color: rgba($secondary-color, 0.5);
        }
    }
    &--small {
        font-size: 0.8rem;
        padding: 2px 5px;
        margin: 0px 2px 0px -5px;

        iconify-icon{
            font-size: 1rem;
            margin-right: 0rem;
        }
    }

   

    &__image{

        img{
            width: 32px;
            height: 32px;
            border-radius: 50%;
            background-color: $blue-gray;
            margin: 0.15rem 0.5rem -0.25rem 0rem;
            filter: grayscale(100%);
        }
    }
}

.grid-sizer, .grid-item{
    min-width: 50%;
    max-width: 50%;

    @media screen and (max-width: $mobile){
        min-width: 100%;
        max-width: 100%;
    }
}