<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="{{ page.title }}" content="{{ page.description }}">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>

    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>
    
  </head>
  <body>
    {{ content }}
    <script type="text/javascript" src="/assets/js/lightbox.js"></script>
    <link rel="stylesheet" href="/assets/css/lightbox.css">  
  </body>
  {% include footer.html %}
</html>