---
layout: default
---



<section id="project-page">
    <div class="projectpage-header">
        {% assign lang = page.lang | default: site.default_language %}
        {% if lang == "de" %}
            <a href="/de/#projects" class="back-link anim-underline">
                <iconify-icon icon="ion:return-up-back-outline"></iconify-icon> Zurück zu Projekten
            </a>
        {% else %}
            <a href="/en/#projects" class="back-link anim-underline">
                <iconify-icon icon="ion:return-up-back-outline"></iconify-icon> Back to Projects
            </a>
        {% endif %}
              </div>
    <div class="container">
        <div class="project-header" style="background-image: url('{{ page.image.path }}')";>
            <h1 class="title">{{ page.title }}</h1>
            <h2 class="subtitle">{{ page.subtitle }}</h2>
            <p class="date">{{ page.date | localize: "%d. %B %Y"  }}</p>
        </div>
        <div class="project-content">
            {{ page.content }}

            <div class="project-gallery">
                {% for image in page.gallery %}
                <a href="{{ image.path }}" >
                    <div class="project-gallery__item" style="background-image: url('{{ image.path }}');"></div>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
